#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
  background: #f0f0f0; /* Light background for contrast */
}

.timer-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background: #595a59;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.counter-box {
  max-width: 500px;
}

input{
  padding: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-right: 5px;
}

.timer-controls{
  display: flex;
  flex-direction: row;
  gap: 15px;
  color: white;
}
.start{
  background: green;
}

.pause{
  background: rgb(249, 249, 252);
  
}

.reset{
  background: red;
}